<div class="container">
    <header class="row">
        <div class="col">
            <h1>Header</h1>
        </div>
    </header>
    <section class="contenedor-main row">
        <main class="col-md-8">
            <h2>Main</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia voluptatibus explicabo officia, magni optio tempora, dignissimos ratione repellat quas veniam veritatis hic rerum placeat suscipit itaque dolore dolorem? Animi, debitis.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima libero rem quos porro voluptates, corrupti distinctio harum autem alias nobis quasi vel enim debitis at nisi sint incidunt ea perspiciatis.</p>
        </main>
        <aside class="col-md-4 align-self-center">
            <h3>ASIDE</h3>
        </aside>
    </section>
    <section class="widgets row justify-content-between">
        <div class="col-md-4 col-lg-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam libero natus nisi odit asperiores recusandae id animi omnis rerum. Maiores repellat sapiente laborum porro accusamus in minus nesciunt assumenda iusto?</p>
        </div>
        <div class="col-md-4 col-lg-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam libero natus nisi odit asperiores recusandae id animi omnis rerum. Maiores repellat sapiente laborum porro accusamus in minus nesciunt assumenda iusto?</p>
        </div>
        <div class="col-md-4 col-lg-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam libero natus nisi odit asperiores recusandae id animi omnis rerum. Maiores repellat sapiente laborum porro accusamus in minus nesciunt assumenda iusto?</p>
        </div>
    </section>
    <footer class="row">
        <div class="col">
            <h4>Footer</h4>
        </div>
    </footer>
</div>
