<!-- <div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="alert alert-success mt-3">
                <strong>Aviso:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <a href="#" class="alert-link">Repellendus, expedita.</a>
            </div>
            <div class="alert alert-info mt-3">
                <strong>Aviso:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <a href="#" class="alert-link">Repellendus, expedita.</a>
            </div>
            <div class="alert alert-warning mt-3">
                <strong>Aviso:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <a href="#" class="alert-link">Repellendus, expedita.</a>
            </div>
            <div class="alert alert-danger mt-3">
                <strong>Aviso:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <a href="#" class="alert-link">Repellendus, expedita.</a>
            </div>
            <div class="alert alert-primary mt-3">
                <strong>Aviso:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <a href="#" class="alert-link">Repellendus, expedita.</a>
            </div>
            <div class="alert alert-secondary mt-3">
                <strong>Aviso:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <a href="#" class="alert-link">Repellendus, expedita.</a>
            </div>
            <div class="alert alert-light mt-3">
                <strong>Aviso:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <a href="#" class="alert-link">Repellendus, expedita.</a>
            </div>
            <div class="alert alert-dark mt-3">
                <strong>Aviso:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <a href="#" class="alert-link">Repellendus, expedita.</a>
            </div>

            <div class="alert alert-success mt-5">
                <h2>Encabezado</h2>
                <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ducimus adipisci accusantium sunt cum vitae eveniet, corrupti nesciunt reiciendis vel iste perferendis facere culpa odio, excepturi necessitatibus laboriosam quibusdam? Veritatis?
                </p>
            </div>

            <div class="alert alert-info mt-5" id="alerta">
                Lorem ipsum dolor sit amet.
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container-fluid"> -->
    <!-- <div class="row"> -->
        <!-- <div class="col-6">
            <h1>Encabezado H1 <span class="badge badge-primary">Etiqueta</span></h1>
            <h2>Encabezado H2 <span class="badge badge-primary">Etiqueta</span></h2>
            <h3>Encabezado H3 <span class="badge badge-primary">Etiqueta</span></h3>
            <h4>Encabezado H4 <span class="badge badge-primary">Etiqueta</span></h4>
            <h5>Encabezado H5 <span class="badge badge-primary">Etiqueta</span></h5>
            <h6>Encabezado H6 <span class="badge badge-primary">Etiqueta</span></h6>
        </div> -->
        <!-- <div class="w-100"></div> -->
        <!-- <div class="col-6"> -->
            <!-- <hr> -->
            <!-- La clase badge-pill permite redondear los badges -->
            <!-- <h3>Encabezado H3<span class="badge badge-pill badge-primary">Etiqueta</span></h3>
            <h3>Encabezado H3<span class="badge badge-pill badge-secondary">Etiqueta</span></h3>
            <h3>Encabezado H3<span class="badge badge-pill badge-info">Etiqueta</span></h3>
            <h3>Encabezado H3<span class="badge badge-pill badge-success">Etiqueta</span></h3>
            <h3>Encabezado H3<span class="badge badge-pill badge-warning">Etiqueta</span></h3>
            <h3>Encabezado H3<span class="badge badge-pill badge-danger">Etiqueta</span></h3>
            <h3>Encabezado H3<span class="badge badge-pill badge-dark">Etiqueta</span></h3>
            <h3>Encabezado H3<span class="badge badge-pill badge-light">Etiqueta</span></h3> -->
        <!-- </div> -->
        <!-- <div class="col-12 mb-3">
            <hr>
            <a href="#" class="badge badge-primary">primary</a>
            <a href="#" class="badge badge-secondary">secondary</a>
            <a href="#" class="badge badge-danger">danger</a>
            <a href="#" class="badge badge-warning">warning</a>
            <a href="#" class="badge badge-success">success</a>
            <a href="#" class="badge badge-info">info</a>
            <a href="#" class="badge badge-dark">dark</a>
            <a href="#" class="badge badge-light">light</a>
        </div> -->
        <!-- <div class="col-12 mb-3">
            <hr>
            <a href="#" class="badge badge-pill badge-primary">primary</a>
            <a href="#" class="badge badge-pill badge-secondary">secondary</a>
            <a href="#" class="badge badge-pill badge-danger">danger</a>
            <a href="#" class="badge badge-pill badge-warning">warning</a>
            <a href="#" class="badge badge-pill badge-success">success</a>
            <a href="#" class="badge badge-pill badge-info">info</a>
            <a href="#" class="badge badge-pill badge-dark">dark</a>
            <a href="#" class="badge badge-pill badge-light">light</a>
        </div> -->

        <!-- <div class="col-12 mb-3">
            <hr>
            <button class="btn btn-primary mb-2">
                Notificaciones <span class="badge badge-warning">10</span>
            </button>
            <button class="btn btn-dark mb-2">
                Notificaciones <span class="badge badge-light">10</span>
            </button>
        </div> -->
    <!-- </div> -->
<!-- </div> -->

<!-- <div class="container-fluid"> -->
    <!-- <div class="row pt-3"> -->
        <!-- <div class="col-12">
            <h2>Botones</h2>
            <hr>
            <button type="button" class="btn btn-success">Éxito</button>
            <button type="button" class="btn btn-info">Información</button>
            <button type="button" class="btn btn-danger">Peligro</button>
            <button type="button" class="btn btn-primary">Primario</button>
            <button type="button" class="btn btn-secondary">Secundario</button>
            <button type="button" class="btn btn-dark">Oscuro</button>
            <button type="button" class="btn btn-warning">Peligro</button>
            <button type="button" class="btn btn-light">Claro</button>
            <button type="button" class="btn btn-link">Enlace</button>
        </div> -->
        <!-- <div class="col-12"> -->
            <!-- <hr> -->
            <!-- Convierte todo a tipo button de bootstrap -->
            <!-- <a href="#" class="btn btn-info">Enlace</a>
            <button type="button" class="btn btn-info">Button</button>
            <input type="button" class="btn btn-info" value="Button">
            <input type="submit" class="btn btn-info" value="Submit"> -->
        <!-- </div> -->
        <!-- <div class="col-12">
            <hr>
            <h2>Outline Botones</h2>
            <button type="button" class="btn btn-outline-success">Éxito</button>
            <button type="button" class="btn btn-outline-info">Información</button>
            <button type="button" class="btn btn-outline-danger">Peligro</button>
            <button type="button" class="btn btn-outline-primary">Primario</button>
            <button type="button" class="btn btn-outline-secondary">Secundario</button>
            <button type="button" class="btn btn-outline-dark">Oscuro</button>
            <button type="button" class="btn btn-outline-warning">Peligro</button>
            <button type="button" class="btn btn-outline-light">Claro</button>
            <button type="button" class="btn btn-outline-link">Enlace</button>
        </div>
        <div class="col-12">
            <hr>
            <button class="btn btn-primary btn-lg">Boton Grande</button>
            <button class="btn btn-secondary btn-lg">Boton Grande</button>
            <br><br>
            <button class="btn btn-primary btn-sm">Boton Pequeño</button>
            <button class="btn btn-secondary btn-sm">Boton Pequeño</button>
            <br><br>
            <button class="btn btn-primary btn-lg btn-block">Boton Bloque</button>
            <button class="btn btn-secondary btn-lg btn-block">Boton Bloque</button>
        </div>
        <div class="col-12">
            <hr>
            <h2>Botones Desactivados</h2>
            <button type="button" class="btn btn-success" disabled>Éxito</button>
            <button type="button" class="btn btn-info" disabled>Información</button>
            <button type="button" class="btn btn-danger" disabled>Peligro</button>
            <button type="button" class="btn btn-primary" disabled>Primario</button>
            <button type="button" class="btn btn-secondary" disabled>Secundario</button>
            <button type="button" class="btn btn-dark" disabled>Oscuro</button>
            <button type="button" class="btn btn-warning" disabled>Peligro</button>
            <button type="button" class="btn btn-light" disabled>Claro</button>
            <button type="button" class="btn btn-link" disabled>Enlace</button>
        </div> -->
        <!-- <div class="col-12"> -->
            <!-- <hr> -->
            <!-- <h2>Checkbox</h2> -->
            <!-- la clase btn-group y btn-group-toggle permite agrupar
            un grupo de botones en este caso checkbox convertidos en botones-->
            <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="checkbox" name="" id="" autocomplete="off">Checkbox 1
                </label>
                <label class="btn btn-primary active">
                    <input type="checkbox" name="" id="" autocomplete="off">Checkbox 2
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="" id="" autocomplete="off">Checkbox 3
                </label>
            </div> -->
        <!-- </div> -->
        <!-- <div class="col-12"> -->
            <!-- <hr> -->
            <!-- <h2>Radio Buttons</h2> -->
            <!-- la clase btn-group y btn-group-toggle permite agrupar
            un grupo de botones en este caso radio buttons convertidos en botones-->
            <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="radio" name="gender" id="" autocomplete="off">Hombre
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="gender" id="" autocomplete="off">Mujer
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="gender" id="" autocomplete="off">Otro
                </label>
            </div> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->

<!-- <div class="container-fluid">
    <div class="row pt-5">
        <div class="col">
            <div class="btn-group">
                <button class="btn btn-outline-success">1</button>
                <button class="btn btn-outline-success">2</button>
                <button class="btn btn-outline-success">3</button>
                <button class="btn btn-outline-success">4</button>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-4">
                    <button class="btn btn-outline-success">1</button>
                    <button class="btn btn-outline-success">2</button>
                    <button class="btn btn-outline-success">3</button>
                    <button class="btn btn-outline-success">4</button>
                </div>
                <div class="btn-group mr-4">
                    <button class="btn btn-outline-success">1</button>
                    <button class="btn btn-outline-success">2</button>
                    <button class="btn btn-outline-success">3</button>
                    <button class="btn btn-outline-success">4</button>
                </div>
                <div class="btn-group mr-4">
                    <button class="btn btn-outline-success">1</button>
                    <button class="btn btn-outline-success">2</button>
                    <button class="btn btn-outline-success">3</button>
                    <button class="btn btn-outline-success">4</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-12">
            <div class="btn-group btn-group-lg">
                <button class="btn btn-outline-success">1</button>
                <button class="btn btn-outline-success">2</button>
                <button class="btn btn-outline-success">3</button>
                <button class="btn btn-outline-success">4</button>
            </div>
        </div>
        <br><br>
        <div class="col-12">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-outline-success">1</button>
                <button class="btn btn-outline-success">2</button>
                <button class="btn btn-outline-success">3</button>
                <button class="btn btn-outline-success">4</button>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-12">
            <div class="btn-group-vertical">
                <button class="btn btn-outline-success">1</button>
                <button class="btn btn-outline-success">2</button>
                <button class="btn btn-outline-success">3</button>
                <button class="btn btn-outline-success">4</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Clases que podemos utilizar -->
<!-- .card - Establecemos que vamos a trabajar con una tarjeta (card) -->
<!--    .card-body Establecemos cual sera el contenedor del cotenido -->
<!--        .card-title Establecemos un texto como título de la card -->
<!--        .card-subtitle Establecemos un sutítulo para la card -->
<!--        .card-text Establecemos el texto para la card -->
<!--        .card-link Establecemos un enlace como botón a la card -->
<!--    .card-img-top Establecemos una imagen en la parte superior de la card-->
<!--    .card-img-bottom Establecemos una imagen en la parte inferior de la card -->
<!-- <div class="container"> -->
    <!-- <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1>Encabezado</h1>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, quos?
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row mt-3">
        <div class="col-6">
            <div class="card">
                <img src="assets/images/bg.jpg" class="card-img-top img-fluid" alt="">
                <div class="card-body">
                    <h3 class="card-title">Título</h3>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias recusandae, dolorem eveniet, eos ullam velit a ratione vero consequuntur vitae quos earum voluptatibus voluptatem iure veritatis ut, repudiandae corrupti!</p>
                    <a href="#" class="btn btn-success btn-lg btn-block">Botón</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="assets/images/bg2.jpg" class="card-img-top img-fluid" alt="">
                <div class="card-body">
                    <h3 class="card-title">Título</h3>
                    <p class="card-subtitle text-muted mb-3">Subtítulo</p>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias recusandae, dolorem eveniet, eos ullam velit a ratione vero consequuntur vitae quos earum voluptatibus voluptatem iure veritatis ut, repudiandae corrupti!</p>
                    <a href="#" class="card-link">Enlace #1</a>
                    <a href="#" class="card-link">Enlace #2</a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row mt-3"> -->
        <!-- <div class="col-6"> -->
            <!-- <div class="card"> -->
                <!-- Agrega un encabezado a la card -->
                <!-- <div class="card-header">Encabezado</div>
                <div class="card-body">
                    <h3 class="card-title">Lorem, ipsum dolor.</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, nulla.</p>
                    <a href="#" class="btn btn-primary">Ir a la página</a>
                </div> -->
            <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="col-6"> -->
            <!-- <div class="card"> -->
                <!-- <div class="card-body text-center">
                    <h3 class="card-title">Lorem, ipsum dolor.</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, nulla.</p>
                    <a href="#" class="btn btn-primary">Ir a la página</a>
                </div> -->
                <!-- Agrega un pie de página a la card -->
                <!-- <div class="card-footer">Footer</div> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="row my-3">
        <div class="col">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h3 class="card-title">Lorem, ipsum.</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-primary">Ir a Post</a>
                    <a href="#" class="btn btn-dark">Ir a Post</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <h3 class="card-title">Lorem, ipsum.</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-primary">Ir a Post</a>
                    <a href="#" class="btn btn-dark">Ir a Post</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-primary">
                <div class="card-body">
                    <h3 class="card-title">Lorem, ipsum.</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-primary">Ir a Post</a>
                    <a href="#" class="btn btn-dark">Ir a Post</a>
                </div>
            </div>
        </div>
    </div> -->
<!-- </div> -->

<!-- <div class="container-fluid"> -->
    <!-- <div class="row mt-3"> -->
        <!-- <div class="col"> -->
            <!-- La clase card-group permite combinar varias cards en una
            misma columna -->
            <!-- <div class="card-group">
                <div class="card">
                    <img src="assets/images/bg.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Encabezado</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, incidunt.
                        </p>
                        <button class="btn btn-primary btn-block">Botón</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Footer</small>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/bg.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Encabezado</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, incidunt.
                        </p>
                        <button class="btn btn-primary btn-block">Botón</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Footer</small>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/bg.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Encabezado</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, incidunt.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, incidunt.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, incidunt.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, incidunt.
                        </p>
                        <button class="btn btn-primary btn-block">Botón</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Footer</small>
                    </div>
                </div>
            </div> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->

<!-- <div class="container-fluid">
    <div class="row my-3">
        <div class="col">
            <div class="card-columns">
                <div class="card">
                    <img src="assets/images/bg.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Título #1</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet.</p>
                        <a href="" class="btn btn-primary btn-block btn-lg">Boton</a>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/bg2.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Título #2</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet.</p>
                        <a href="" class="btn btn-primary btn-block btn-lg">Boton</a>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/bg3.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Título #3</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet.</p>
                        <a href="" class="btn btn-primary btn-block btn-lg">Boton</a>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/bg4.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Título #4</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet.</p>
                        <a href="" class="btn btn-primary btn-block btn-lg">Boton</a>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/bg5.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Título #5</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet.</p>
                        <a href="" class="btn btn-primary btn-block btn-lg">Boton</a>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/bg6.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Título #6</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet.</p>
                        <a href="" class="btn btn-primary btn-block btn-lg">Boton</a>
                    </div>
                </div>
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h3 class="card-title">Título #7</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet.</p>
                        <a href="" class="btn btn-primary btn-block btn-lg">Boton</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Carousel -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <!-- Contenedor del carousel que necesita la clase carousel y slide -->
            <div id="main-carousel" class="carousel slide" data-ride="carousel">
                <!-- Permite crear los botones inferiores del carousel -->
                <ol class="carousel-indicators">
                    <!-- Los botones deben apuntar al id del contenedor del carousel -->
                    <!-- Indica que este es el elemento activo en el carousel -->
                    <!-- data-slid-to indica a cual carousel-item esta apuntando -->
                    <li class="active" data-target="#main-carousel" data-slid-to="0"></li>
                    <li data-target="#main-carousel" data-slid-to="1"></li>
                    <li data-target="#main-carousel" data-slid-to="2"></li>
                </ol>
                <!-- Contenedor de la imágenes en el carousel -->
                <div class="carousel-inner">
                    <!-- Item en el carousel con su imagen correspondiente -->
                    <div class="carousel-item active">
                        <img src="assets/images/carousel1.jpg" alt="">
                    </div>
                    <!-- Item en el carousel con su imagen correspondiente -->
                    <div class="carousel-item">
                        <img src="assets/images/carousel2.jpg" alt="">
                    </div>
                    <!-- Item en el carousel con su imagen correspondiente -->
                    <div class="carousel-item">
                        <img src="assets/images/carousel3.jpg" alt="">
                    </div>
                </div>
                <!-- Permite crear el control para devolver la imagen en el carousel -->
                <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <!-- Permite crear el control para adelantar la imagen en el carousel -->
                <a href="#main-carousel" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 mt-3">
            <!-- Contenedor del carousel que necesita la clase carousel y slide -->
            <div id="secondary-carousel" class="carousel slide" data-ride="carousel">
                <!-- Permite crear los botones inferiores del carousel -->
                <ol class="carousel-indicators">
                    <!-- Los botones deben apuntar al id del contenedor del carousel -->
                    <!-- Indica que este es el elemento activo en el carousel -->
                    <!-- data-slid-to indica a cual carousel-item esta apuntando -->
                    <li class="active" data-target="#secondary-carousel" data-slid-to="0"></li>
                    <li data-target="#secondary-carousel" data-slid-to="1"></li>
                    <li data-target="#secondary-carousel" data-slid-to="2"></li>
                </ol>
                <!-- Contenedor de la imágenes en el carousel -->
                <div class="carousel-inner">
                    <!-- Item en el carousel con su imagen correspondiente -->
                    <div class="carousel-item active">
                        <!-- Permite agregarle una descripción al item activo en el carousel -->
                        <div class="carousel-caption d-block">
                            <h4>Título de la imagen</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <img src="assets/images/carousel1.jpg" alt="">
                    </div>
                    <!-- Item en el carousel con su imagen correspondiente -->
                    <div class="carousel-item">
                        <!-- Permite agregarle una descripción al item activo en el carousel -->
                        <div class="carousel-caption d-block">
                            <h4>Título de la imagen</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <img src="assets/images/carousel2.jpg" alt="">
                    </div>
                    <!-- Item en el carousel con su imagen correspondiente -->
                    <div class="carousel-item">
                        <!-- Permite agregarle una descripción al item activo en el carousel -->
                        <div class="carousel-caption d-block">
                            <h4>Título de la imagen</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <img src="assets/images/carousel3.jpg" alt="">
                    </div>
                </div>
                <!-- Permite crear el control para devolver la imagen en el carousel -->
                <a href="#secondary-carousel" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <!-- Permite crear el control para adelantar la imagen en el carousel -->
                <a href="#secondary-carousel" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
            </div>
        </div>
    </div>
</div>