<div class="container-fluid">
    <div class="row comments justify-content-center">
        <div class="col-6">
            <form action="" class="form-comments d-flex justify-content-end flex-wrap">
                <textarea name="" id="" placeholder="Agrega un comentario"></textarea>
                <button type="button" class="btn">Comentar</button>
            </form>
            <div class="media">
                <img src="assets/images/persona1.jpg" width="64" height="64" alt="">
                <div class="media-body">
                    <p class="name">Oscar García <span>8:44am, Hoy</span></p>
                    <p class="comment">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas doloribus vel, sint iusto ea eos distinctio molestias numquam, rem ipsa excepturi eum ipsam exercitationem culpa voluptate, velit nam nostrum!
                    </p>
                    <div class="buttons text-right">
                        <a href="#">Responder</a>
                        <a href="#">Editar</a>
                        <a href="#">Borrar</a>
                    </div>

                    <div class="media">
                        <img src="assets/images/persona2.jpg" width="64" height="64" alt="">
                        <div class="media-body">
                            <p class="name">Oscar García <span>8:44am, Hoy</span></p>
                            <p class="comment">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas doloribus vel, sint iusto ea eos distinctio molestias numquam, rem ipsa excepturi eum ipsam exercitationem culpa voluptate, velit nam nostrum!
                            </p>
                            <div class="buttons text-right">
                                <a href="#">Responder</a>
                                <a href="#">Editar</a>
                                <a href="#">Borrar</a>
                            </div>

                            <div class="media">
                                <img src="assets/images/persona3.jpg" width="64" height="64" alt="">
                                <div class="media-body">
                                    <p class="name">Oscar García <span>8:44am, Hoy</span></p>
                                    <p class="comment">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas doloribus vel, sint iusto ea eos distinctio molestias numquam, rem ipsa excepturi eum ipsam exercitationem culpa voluptate, velit nam nostrum!
                                    </p>
                                    <div class="buttons text-right">
                                        <a href="#">Responder</a>
                                        <a href="#">Editar</a>
                                        <a href="#">Borrar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="media">
                        <img src="assets/images/persona3.jpg" width="64" height="64" alt="">
                        <div class="media-body">
                            <p class="name">Oscar García <span>8:44am, Hoy</span></p>
                            <p class="comment">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas doloribus vel, sint iusto ea eos distinctio molestias numquam, rem ipsa excepturi eum ipsam exercitationem culpa voluptate, velit nam nostrum!
                            </p>
                            <div class="buttons text-right">
                                <a href="#">Responder</a>
                                <a href="#">Editar</a>
                                <a href="#">Borrar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>