<!-- Podemos establecer que tipo de elemento flexbox sera, de tipo block o inline 
y podemos establecer también desde que dispositivo lo será -->

<!-- 
  .d-flex
  .d-inline-flex

  .d-sm-flex
  .d-sm-inline-flex
  .d-md-flex
  .d-md-inline-flex
  .d-lg-flex
  .d-lg-inline-flex
  .d-xl-flex
  .d-xl-inline-flex
-->

<!-- 
  Variantes
  .flex-row
  .flex-row-reverse
  .flex-column
  .flex-column-reverse
  .flex-sm-row
  .flex-sm-row-reverse
  .flex-sm-column
  .flex-sm-column-reverse
  .flex-md-row
  .flex-md-row-reverse
  .flex-md-column
  .flex-md-column-reverse
  .flex-lg-row
  .flex-lg-row-reverse
  .flex-lg-column
  .flex-lg-column-reverse
  .flex-xl-row
  .flex-xl-row-reverse
  .flex-xl-column
  .flex-xl-column-reverse
 -->

<!-- 
  Variantes
  .justify-content-start
  .justify-content-end
  .justify-content-center
  .justify-content-between
  .justify-content-around
  .justify-content-sm-start
  .justify-content-sm-end
  .justify-content-sm-center
  .justify-content-sm-between
  .justify-content-sm-around
  .justify-content-md-start
  .justify-content-md-end
  .justify-content-md-center
  .justify-content-md-between
  .justify-content-md-around
  .justify-content-lg-start
  .justify-content-lg-end
  .justify-content-lg-center
  .justify-content-lg-between
  .justify-content-lg-around
  .justify-content-xl-start
  .justify-content-xl-end
  .justify-content-xl-center
  .justify-content-xl-between
  .justify-content-xl-around
-->

<!-- <div class="container-fluid"> -->
  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- <h4>Tipos de Display Flex</h4> -->
      <!-- <hr> -->
      <!-- La clase d-flex abarca el 100% del espacio disponible -->
      <!-- <div class="d-flex p-3 bg-primary text-white">
        <p class="mb-0">Display flex <strong>.d-flex</strong></p>
      </div> -->
      <!-- <br> -->
      <!-- La clase d-inline-flex abarca solo el espacio que necesita -->
      <!-- <div class="d-inline-flex p-3 bg-primary text-white">
        <p class="mb-0">Display Inline flex <strong>.d-inline-flex</strong></p>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row my-4"> -->
    <!-- <div class="col"> -->
      <!-- <h4>Dirección</h4> -->
      <!-- <hr> -->
      <!-- <p>.flex-row</p> -->
      <!-- La clase flex-row alinea los elementos horizontalmente de izquierda a derecha -->
      <!-- <div class="contenedor d-flex flex-row">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- <p>.flex-row-reverse</p> -->
      <!-- La clase flex-row-reverse alinea los elementos horizontalmente de 
      derecha a izquierda -->
      <!-- <div class="contenedor d-flex flex-row-reverse">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- <p>.flex-column</p> -->
      <!-- La clase flex-column alinea los elementos verticalmente de arriba a abajo -->
      <!-- <div class="contenedor d-flex flex-column">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- <p>.flex-column-reverse</p> -->
      <!-- La clase flex-column-reverse alinea los elementos verticalmente de abajo
      a arriba -->
      <!-- <div class="contenedor d-flex flex-column-reverse">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row my-4"> -->
    <!-- <div class="col"> -->
      <!-- <h4>Justify Content</h4> -->
      <!-- <hr> -->
      <!-- <p>.justify-content-start</p> -->
      <!-- La clase justify-content-start alinea los elementos a la izquierda -->
      <!-- <div class="contenedor d-flex justify-content-start">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- <p>.justify-content-center</p> -->
      <!-- La clase justify-content-center alinea los elementos en el centro -->
      <!-- <div class="contenedor d-flex justify-content-center">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- <p>.justify-content-end</p> -->
      <!-- La clase justify-content-end alinea los elementos a la derecha -->
      <!-- <div class="contenedor d-flex justify-content-end">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- <p>.justify-content-between</p> -->
      <!-- La clase justify-content-between ordena los elementos alrededor del
      campo disponible haciendo que el primer elemento no tenga espacio a la izquierda
      y el último elemento no tenga espacio a la derecha -->
      <!-- <div class="contenedor d-flex justify-content-between">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- <p>.justify-content-around</p> -->
      <!-- La clase justify-content-around ordena los elementos alrededor del
      campo disponible haciendo todos los elementos tengan el mismo espacio tanto
      a la derecha como a la izquierda -->
      <!-- <div class="contenedor d-flex justify-content-around">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->


<!-- 
  Variantes
  .align-items-start
  .align-items-end
  .align-items-center
  .align-items-baseline
  .align-items-stretch
  .align-items-sm-start
  .align-items-sm-end
  .align-items-sm-center
  .align-items-sm-baseline
  .align-items-sm-stretch
  .align-items-md-start
  .align-items-md-end
  .align-items-md-center
  .align-items-md-baseline
  .align-items-md-stretch
  .align-items-lg-start
  .align-items-lg-end
  .align-items-lg-center
  .align-items-lg-baseline
  .align-items-lg-stretch
  .align-items-xl-start
  .align-items-xl-end
  .align-items-xl-center
  .align-items-xl-baseline
  .align-items-xl-stretch
-->

<!-- 
  Variantes
  .align-self-start
  .align-self-end
  .align-self-center
  .align-self-baseline
  .align-self-stretch
  .align-self-sm-start
  .align-self-sm-end
  .align-self-sm-center
  .align-self-sm-baseline
  .align-self-sm-stretch
  .align-self-md-start
  .align-self-md-end
  .align-self-md-center
  .align-self-md-baseline
  .align-self-md-stretch
  .align-self-lg-start
  .align-self-lg-end
  .align-self-lg-center
  .align-self-lg-baseline
  .align-self-lg-stretch
  .align-self-xl-start
  .align-self-xl-end
  .align-self-xl-center
  .align-self-xl-baseline
  .align-self-xl-stretch
-->
<!-- <div class="container-fluid"> -->
  <!-- <div class="row my-4"> -->
    <!-- <div class="col"> -->
      <!-- <h4>Align Items</h4> -->
      <!-- <hr> -->
      <!-- <p>.align-items-start</p> -->
      <!-- La clase align-items-start alinea los elementos arriba -->
      <!-- <div class="contenedor d-flex align-items-start">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- <p>.align-items-center</p> -->
      <!-- La clase align-items-start alinea los elementos centro vertical -->
      <!-- <div class="contenedor d-flex align-items-center">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- <p>.align-items-end</p> -->
      <!-- La clase align-items-start alinea los elementos abajo -->
      <!-- <div class="contenedor d-flex align-items-end">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- <p>.align-items-baseline</p> -->
      <!-- La clase align-items-baseline hace que todos los elemento ocupen el mismo
      espacio vertical -->
      <!-- <div class="contenedor d-flex align-items-baseline">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- <p>.align-items-stretch</p> -->
      <!-- La clase align-items-stretch permite que todos los elementos tenga la
      misma altura del elemento padre -->
      <!-- <div class="contenedor d-flex align-items-stretch">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row my-4"> -->
    <!-- <div class="col"> -->
      <!-- <h4>Align Self</h4> -->
      <!-- <hr> -->
      <!-- <div class="contenedor d-flex"> -->
        <!-- La clase align-self-start alinea solo este elemento arriba -->
        <!-- <div class="align-self-start">.align-self-start</div> -->
        <!-- La clase align-self-start alinea solo este elemento al centro vertical -->
        <!-- <div class="align-self-center">.align-self-center</div> -->
        <!-- La clase align-self-start alinea solo este elemento abajo -->
        <!-- <div class="align-self-end">.align-self-end</div> -->
        <!-- La clase align-self-start hace que solo este elemento alinea su base  -->
        <!-- <div class="align-self-baseline">.align-self-baseline</div> -->
        <!-- La clase align-self-start hace que solo este elemento ocupe la misma
        altura del elemento padre  -->
        <!-- <div class="align-self-stretch">.align-self-stretch</div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row my-4"> -->
    <!-- <div class="col"> -->
      <!-- <h4>Auto Margins</h4> -->
      <!-- <hr> -->
      <!-- La clase mr-auto agrega un margen automático a la derecha, lo que
      hace que este elemento se pegue a la izquierda y los otros dos se queden
      en la derecha -->
      <!-- <div class="contenedor d-flex justify-content-end">
        <div class="mr-auto">.mr-auto</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- La clase ml-auto agrega un margen automático a la izquierda, lo que
      hace que este elemento se pegue a la derecha y los otros dos se queden
      en la izquierda -->
      <!-- <div class="contenedor d-flex justify-content-start">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div class="ml-auto">.ml-auto</div>
      </div> -->
      <!-- La clase mb-auto agrega un margen automático abajo, lo que
      hace que este elemento se pegue arriba y los otros dos se queden abajo -->
      <!-- <div class="contenedor d-flex flex-column align-items-start" style="height: 250px;">
        <div class="mb-auto">.mb-auto</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
      </div> -->
      <!-- La clase mt-auto agrega un margen automático arriba, lo que
      hace que este elemento se pegue abajo y los otros dos se quedenarriba -->
      <!-- <div class="contenedor d-flex flex-column align-items-start" style="height: 250px;">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div class="mt-auto">.mt-auto</div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->


<!-- 
  Variantes
  .flex-nowrap
  .flex-wrap
  .flex-wrap-reverse
  .flex-sm-nowrap
  .flex-sm-wrap
  .flex-sm-wrap-reverse
  .flex-md-nowrap
  .flex-md-wrap
  .flex-md-wrap-reverse
  .flex-lg-nowrap
  .flex-lg-wrap
  .flex-lg-wrap-reverse
  .flex-xl-nowrap
  .flex-xl-wrap
  .flex-xl-wrap-reverse
-->
<!-- 
  Variantes del order
  .order-1      .order-12
  .order-sm-1   .order-sm-12
  .order-md-1   .order-md-12
  .order-lg-1   .order-lg-12
  .order-xl-1   .order-xl-12
-->
<!-- 
  Variantes
  .align-content-start
  .align-content-end
  .align-content-center
  .align-content-around
  .align-content-between
  .align-content-stretch
  .align-content-sm-start
  .align-content-sm-end
  .align-content-sm-center
  .align-content-sm-around
  .align-content-sm-between
  .align-content-sm-stretch
  .align-content-md-start
  .align-content-md-end
  .align-content-md-center
  .align-content-md-around
  .align-content-md-between
  .align-content-md-stretch
  .align-content-lg-start
  .align-content-lg-end
  .align-content-lg-center
  .align-content-lg-around
  .align-content-lg-between
  .align-content-lg-stretch
  .align-content-xl-start
  .align-content-xl-end
  .align-content-xl-center
  .align-content-xl-around
  .align-content-xl-between
  .align-content-xl-stretch
-->

<!-- <div class="container"> -->
  <!-- <div class="row my-3"> -->
    <!-- <div class="col"> -->
      <!-- Permite encerrar o envolver los elementos -->
      <!-- <h4>Wrap</h4> -->
      <!-- <hr> -->
      <!-- <p>.flex-nowrap</p> -->
      <!-- La clase flex-nowrap hace que los elementos ocupen toda la fila, que
      es el comportamiento que se tiene por defecto -->
      <!-- Crea 15 divs div{Caja $}*15 -->
      <!-- <div class="contenedor d-flex flex-nowrap">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
        <div>Caja 4</div>
        <div>Caja 5</div>
        <div>Caja 6</div>
        <div>Caja 7</div>
        <div>Caja 8</div>
        <div>Caja 9</div>
        <div>Caja 10</div>
        <div>Caja 11</div>
        <div>Caja 12</div>
        <div>Caja 13</div>
        <div>Caja 14</div>
        <div>Caja 15</div>
      </div> -->

      <!-- <p>.flex-wrap</p> -->
      <!-- La clase flex-wrap hace que los elementos ocupen varias filas de ser
      necesario, para que el ancho del elemento no se vea afectado -->
      <!-- Crea 15 divs div{Caja $}*15 -->
      <!-- <div class="contenedor d-flex flex-wrap">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
        <div>Caja 4</div>
        <div>Caja 5</div>
        <div>Caja 6</div>
        <div>Caja 7</div>
        <div>Caja 8</div>
        <div>Caja 9</div>
        <div>Caja 10</div>
        <div>Caja 11</div>
        <div>Caja 12</div>
        <div>Caja 13</div>
        <div>Caja 14</div>
        <div>Caja 15</div>
      </div> -->

      <!-- <p>.flex-wrap-reverse</p> -->
      <!-- La clase flex-wrap-reverse hace que los elementos ocupen varias filas de ser
      necesario pero en orden contrario, para que el ancho del elemento no se vea afectado -->
      <!-- Crea 15 divs div{Caja $}*15 -->
      <!-- <div class="contenedor d-flex flex-wrap-reverse">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
        <div>Caja 4</div>
        <div>Caja 5</div>
        <div>Caja 6</div>
        <div>Caja 7</div>
        <div>Caja 8</div>
        <div>Caja 9</div>
        <div>Caja 10</div>
        <div>Caja 11</div>
        <div>Caja 12</div>
        <div>Caja 13</div>
        <div>Caja 14</div>
        <div>Caja 15</div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row my-3"> -->
    <!-- <div class="col"> -->
      <!-- <h4>Order</h4> -->
      <!-- <hr> -->
      <!-- <div class="contenedor d-flex flex-nowrap"> -->
        <!-- La clase order-3 ordena el elemento flex en la tercera posición -->
        <!-- <div class="order-3">Caja 1</div> -->
        <!-- La clase order-2 ordena el elemento flex en la segunda posición -->
        <!-- <div class="order-2">Caja 2</div> -->
        <!-- La clase order-1 ordena el elemento flex en la primera posición -->
        <!-- <div class="order-1">Caja 3</div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row my-3"> -->
    <!-- <div class="col"> -->
      <!-- <h4>Align Content</h4> -->
      <!-- <hr> -->
      <!-- Para que funcione los elementos deben estart en varias filas -->
      <!-- <p>.align-content-start</p> -->
      <!-- La clase align-content-start ordena las filas arriba -->
      <!-- <div class="contenedor d-flex align-content-start flex-wrap" style="height: 200px;">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
        <div>Caja 4</div>
        <div>Caja 5</div>
        <div>Caja 6</div>
        <div>Caja 7</div>
        <div>Caja 8</div>
        <div>Caja 9</div>
        <div>Caja 10</div>
        <div>Caja 11</div>
        <div>Caja 12</div>
        <div>Caja 13</div>
        <div>Caja 14</div>
        <div>Caja 15</div>
      </div> -->
      
      <!-- <p>.align-content-center</p> -->
      <!-- La clase align-content-center ordena las filas en el centro vertical -->
      <!-- <div class="contenedor d-flex align-content-center flex-wrap" style="height: 200px;">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
        <div>Caja 4</div>
        <div>Caja 5</div>
        <div>Caja 6</div>
        <div>Caja 7</div>
        <div>Caja 8</div>
        <div>Caja 9</div>
        <div>Caja 10</div>
        <div>Caja 11</div>
        <div>Caja 12</div>
        <div>Caja 13</div>
        <div>Caja 14</div>
        <div>Caja 15</div>
      </div> -->
      
      <!-- <p>.align-content-end</p> -->
      <!-- La clase align-content-start ordena las filas abajo -->
      <!-- <div class="contenedor d-flex align-content-end flex-wrap" style="height: 200px;">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
        <div>Caja 4</div>
        <div>Caja 5</div>
        <div>Caja 6</div>
        <div>Caja 7</div>
        <div>Caja 8</div>
        <div>Caja 9</div>
        <div>Caja 10</div>
        <div>Caja 11</div>
        <div>Caja 12</div>
        <div>Caja 13</div>
        <div>Caja 14</div>
        <div>Caja 15</div>
      </div> -->

      <!-- <p>.align-content-between</p> -->
      <!-- La clase align-content-between ordena la primera fila en la parte superior
      y la última fila en la parte inferior -->
      <!-- <div class="contenedor d-flex align-content-between flex-wrap" style="height: 200px;">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
        <div>Caja 4</div>
        <div>Caja 5</div>
        <div>Caja 6</div>
        <div>Caja 7</div>
        <div>Caja 8</div>
        <div>Caja 9</div>
        <div>Caja 10</div>
        <div>Caja 11</div>
        <div>Caja 12</div>
        <div>Caja 13</div>
        <div>Caja 14</div>
        <div>Caja 15</div>
      </div> -->

      <!-- <p>.align-content-around</p> -->
      <!-- La clase align-content-around ordena las filas de tal forma que todas
      tengan el mismo espacio en la parte de arriba y la parte de abajo -->
      <!-- <div class="contenedor d-flex align-content-around flex-wrap" style="height: 200px;">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
        <div>Caja 4</div>
        <div>Caja 5</div>
        <div>Caja 6</div>
        <div>Caja 7</div>
        <div>Caja 8</div>
        <div>Caja 9</div>
        <div>Caja 10</div>
        <div>Caja 11</div>
        <div>Caja 12</div>
        <div>Caja 13</div>
        <div>Caja 14</div>
        <div>Caja 15</div>
      </div> -->

      <!-- <p>.align-content-stretch</p> -->
      <!-- La clase align-content-stretch ordena las filas de tal forma que todas
      tengan el mismo alto y ocupen el alto total del elemento padre -->
      <!-- <div class="contenedor d-flex align-content-stretch flex-wrap" style="height: 200px;">
        <div>Caja 1</div>
        <div>Caja 2</div>
        <div>Caja 3</div>
        <div>Caja 4</div>
        <div>Caja 5</div>
        <div>Caja 6</div>
        <div>Caja 7</div>
        <div>Caja 8</div>
        <div>Caja 9</div>
        <div>Caja 10</div>
        <div>Caja 11</div>
        <div>Caja 12</div>
        <div>Caja 13</div>
        <div>Caja 14</div>
        <div>Caja 15</div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
