<!-- Jumbotron -->
<!-- Si el jumbotron no se pone dentro de un container, ocupa todo al ancho de la pantalla -->
<!-- <div class="jumbotron">
  <div class="container-fluid">
    <h1 class="display-3 mb-2">Encabezado</h1>
    <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nostrum tenetur provident perferendis nulla cum fugiat quisquam amet, dignissimos recusandae.</p>
    <div>
      <a href="" class="btn btn-primary btn-lg mr-3">Leer más</a>
      <a href="" class="btn btn-success btn-lg">Comprar</a>
    </div>
  </div>
</div> -->

<!-- <div class="container-fluid"> -->
  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- La clase jumbotron permite agregar un color de fonto y un espacio de relleno
      al contenido dentro de él -->
      <!-- <div class="jumbotron">
        <h1 class="display-3 mb-2">Encabezado</h1>
        <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nostrum tenetur provident perferendis nulla cum fugiat quisquam amet, dignissimos recusandae.</p>
        <div>
          <a href="" class="btn btn-primary btn-lg mr-3">Leer más</a>
          <a href="" class="btn btn-success btn-lg">Comprar</a>
        </div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

<!-- Grupos de listas -->
<!-- <div class="container-fluid"> -->
  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- La clase list-group agrupa un grupo de elementos y permite que ocupen el ancho
      máximo disponibles-->
      <!-- <ul class="list-group"> -->
        <!-- La clase list-group-item agrega bordes y centra el texto del elemento  -->
        <!-- <li class="list-group-item">Lorem ipsum dolor sit amet.</li> -->
        <!-- La clase active permite que el fondo del elemento cambie de color y el color del texto -->
        <!-- <li class="list-group-item active">Lorem ipsum dolor sit amet.</li> -->
        <!-- La clase disabled desactiva el elemento cambiado su texto de color -->
        <!-- <li class="list-group-item disabled">Lorem ipsum dolor sit amet.</li>
        <li class="list-group-item">Lorem ipsum dolor sit amet.</li> -->
      <!-- </ul> -->
    <!-- </div> -->
    <!-- <div class="col"> -->
      <!-- <div class="list-group"> -->
        <!-- La clase list-group-item-action permite que el cambie el color de fondo del
        elemento al pasar el cursor encima de el -->
        <!-- <a class="list-group-item list-group-item-action disabled">Lorem ipsum dolor sit amet.</a>
        <a class="list-group-item list-group-item-action">Lorem ipsum dolor sit amet.</a>
        <a class="list-group-item list-group-item-action">Lorem ipsum dolor sit amet.</a>
        <a class="list-group-item list-group-item-action active">Lorem ipsum dolor sit amet.</a>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- <ul class="list-group"> -->
        <!-- <li class="list-group-item">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, fugit!</li> -->
        <!-- list-group-item-success permite que cambie el color de fondo del elemento al color
        success -->
        <!-- <li class="list-group-item list-group-item-success">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, fugit!</li> -->
        <!-- list-group-item-info permite que cambie el color de fondo del elemento al color
        info -->
        <!-- <li class="list-group-item list-group-item-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, fugit!</li> -->
        <!-- list-group-item-danger permite que cambie el color de fondo del elemento al color
        danger -->
        <!-- <li class="list-group-item list-group-item-danger">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, fugit!</li> -->
        <!-- list-group-item-primary permite que cambie el color de fondo del elemento al color
        primary -->
        <!-- <li class="list-group-item list-group-item-primary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, fugit!</li> -->
        <!-- list-group-item-secondary permite que cambie el color de fondo del elemento al color
        secondary -->
        <!-- <li class="list-group-item list-group-item-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, fugit!</li> -->
      <!-- </ul> -->
    <!-- </div> -->
    <!-- <div class="col">
      <div class="list-group">
        <a class="list-group-item list-group-item-action">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, fugit!</a>
        <a class="list-group-item list-group-item-action list-group-item-success">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, fugit!</a>
        <a class="list-group-item list-group-item-action list-group-item-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, fugit!</a>
        <a class="list-group-item list-group-item-action list-group-item-danger">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, fugit!</a>
        <a class="list-group-item list-group-item-action list-group-item-primary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, fugit!</a>
        <a class="list-group-item list-group-item-action list-group-item-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, fugit!</a>
      </div>
    </div> -->
    <!-- <div class="col">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Lorem ipsum dolor sit amet.
          <span class="badge badge-primary">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Lorem ipsum dolor sit amet.
          <span class="badge badge-primary">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Lorem ipsum dolor sit amet.
          <span class="badge badge-primary">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Lorem ipsum dolor sit amet.
          <span class="badge badge-primary">4</span>
        </li>
      </ul>
    </div> -->
  <!-- </div> -->

  <!-- <div class="row mt-3">
    <div class="col">
      <div class="list-group">
        <a href="" class="list-group-item list-group-item-action flex-column align-items-center">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <h4 class="">Lorem, ipsum dolor.</h4>
            <small>11:58 am</small>
          </div>
          <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, sint necessitatibus. Voluptatum suscipit odit fugiat similique excepturi debitis minima, assumenda quae ratione pariatur totam quas eligendi omnis qui eum nisi.</p>
        </a>
      </div>
    </div>
  </div> -->
<!-- </div> -->

<!-- Grupos de listas 2 -->
<!-- <div class="container-fluid"> -->
  <!-- <div class="row mt-3"> -->
    <!-- <div class="col-4"> -->
        <!-- <div class="list-group" id="lista" role="tablist"> -->
          <!-- La propiedad href referencia al elemento que quiere mostrar cuando se da click
          en el enlace -->
          <!-- <a href="#elemento1" class="list-group-item list-group-item-action active" data-toggle="list" role="tab" aria-controls="elemento1">Elemento #1</a>
          <a href="#elemento2" class="list-group-item list-group-item-action" data-toggle="list" role="tab" aria-controls="elemento2">Elemento #2</a>
          <a href="#elemento3" class="list-group-item list-group-item-action" data-toggle="list" role="tab" aria-controls="elemento3">Elemento #3</a>
        </div> -->
    <!-- </div> -->
    <!-- <div class="col-8"> -->
      <!-- La clase tab-content permite agrupar los elementos que se quieren mostrar al
      presionar el enlace. Agrega estilos para que el elemento se acomode bien al mostrarse -->
      <!-- <div class="tab-content" id="nav-tab-content"> -->
        <!-- La clase tab-pane agrega estilos al elemento a mostrar, la clase fade agrega una
        animación cuando el elemento se muestra, la clase show permite mostrar el elemento -->
        <!-- <div class="tab-pane fade show active" id="elemento1" role="tabpanel" aria-labelledby="elemento1">
          <h3>Titulo #1</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quasi id obcaecati deleniti consectetur alias illo aliquid consequatur. Voluptate beatae dolores, voluptates aliquam enim magnam inventore. Enim molestiae doloribus repellat earum aspernatur rerum magni illo architecto ipsum, blanditiis fuga ullam vero nesciunt dolorum voluptas ipsa culpa eum minima autem recusandae!</p>
        </div>
        <div class="tab-pane fade show" id="elemento2" role="tabpanel" aria-labelledby="elemento2">
          <h3>Titulo #2</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quasi id obcaecati deleniti consectetur alias illo aliquid consequatur. Voluptate beatae dolores, voluptates aliquam enim magnam inventore. Enim molestiae doloribus repellat earum aspernatur rerum magni illo architecto ipsum, blanditiis fuga ullam vero nesciunt dolorum voluptas ipsa culpa eum minima autem recusandae!</p>
        </div>
        <div class="tab-pane fade show" id="elemento3" role="tabpanel" aria-labelledby="elemento3">
          <h3>Titulo #3</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quasi id obcaecati deleniti consectetur alias illo aliquid consequatur. Voluptate beatae dolores, voluptates aliquam enim magnam inventore. Enim molestiae doloribus repellat earum aspernatur rerum magni illo architecto ipsum, blanditiis fuga ullam vero nesciunt dolorum voluptas ipsa culpa eum minima autem recusandae!</p>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

<!-- Ventanas modal -->
<!-- <div class="container-fluid"> -->
  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- Botón que permite abrir el modal debe tener el atributo data-toggle en modal y el
      atributo data-target debe apuntar al id del elemento modal -->
      <!-- <button class="btn btn-info mr-4" data-toggle="modal" data-target="#fm-modal">Abrir modal</button> -->
      <!-- Elemento modal que debe tener la clase modal y un id para ser identificado
      por el botón -->
      <!-- <div class="modal fade" id="fm-modal" tabindex="-1" role="dialog" aria-labelledby="fm-modal" aria-hidden="true"> -->
        <!-- La clase modal-dialog permite centrar el modal en la página -->
        <!-- <div class="modal-dialog"> -->
          <!-- La clase modal-content permite agregar un espacio de relleno en el
            contenido y agregar otros estilos -->
          <!-- <div class="modal-content"> -->
            <!-- La clase modal-header agrega un línea inferior para separar del body -->
            <!-- <div class="modal-header"> -->
              <!-- La clase modal-title es para el título del modal -->
              <!-- <h5 class="modal-title">Título del modal</h5> -->
              <!-- Botón que permite cerrar el modal, para ello debe incluir la clase close
              y el atributo data-dismiss en modal -->
              <!-- <button class="close" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
              </button> -->
            <!-- </div> -->
            <!-- La clase modal-body contiene el body del modal, donde se agrega la
            información a mostrar en el modal -->
            <!-- <div class="modal-body">
              <h2>Hola mundo</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias enim temporibus facere vitae repudiandae mollitia maiores praesentium beatae id dolore eveniet ratione quia iste, neque totam! Eveniet odio harum dolore.</p>
            </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->

      <!-- Botón que permite abrir el modal debe tener el atributo data-toggle en modal y el
      atributo data-target debe apuntar al id del elemento modal -->
      <!-- <button class="btn btn-info" data-toggle="modal" data-target="#fm-modal-grid">Abrir modal con grid</button> -->
      <!-- Elemento modal que debe tener la clase modal y un id para ser identificado
      por el botón -->
      <!-- <div class="modal fade" id="fm-modal-grid" tabindex="-1" role="dialog" aria-labelledby="fm-modal-grid" aria-hidden="true"> -->
        <!-- La clase modal-dialog permite centrar el modal en la página y la clase
        modal-dialog-lg permite hacer el modal más grande de lo normal -->
        <!-- <div class="modal-dialog modal-lg"> -->
          <!-- La clase modal-content permite agregar un espacio de relleno en el
            contenido y agregar otros estilos -->
          <!-- <div class="modal-content"> -->
             <!-- La clase modal-header agrega un línea inferior para separar del body -->
            <!-- <div class="modal-header"> -->
              <!-- La clase modal-title es para el título del modal -->
              <!-- <h5 class="modal-title">Título del modal con GRID</h5> -->
               <!-- Botón que permite cerrar el modal, para ello debe incluir la clase close
              y el atributo data-dismiss en modal -->
              <!-- <button class="close" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
              </button> -->
            <!-- </div> -->
             <!-- La clase modal-body contiene el body del modal, donde se agrega la
            información a mostrar en el modal -->
            <!-- <div class="modal-body"> -->
              <!-- El modal-body permite agregarle grid al contenido -->
              <!-- <div class="container-fluid">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus molestiae fugit incidunt distinctio quaerat doloribus corrupti repellat, blanditiis officiis est maxime expedita tempore ratione amet! Rem atque est voluptas rerum voluptatum minus explicabo aspernatur? Neque esse ullam nobis veritatis perferendis!</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus molestiae fugit incidunt distinctio quaerat doloribus corrupti repellat, blanditiis officiis est maxime expedita tempore ratione amet! Rem atque est voluptas rerum voluptatum minus explicabo aspernatur? Neque esse ullam nobis veritatis perferendis!</p>
                  </div>
                </div>
              </div> -->
            <!-- </div> -->
            <!-- La clase modal-footer agrega una línea superior para separar este
            elemento del modal-body -->
            <!-- <div class="modal-footer">
              <button class="btn btn-success">Aceptar</button>
              <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

<!-- Navs -->
<!-- <div class="container-fluid"> -->
  <!-- <div class="row"> -->
    <!-- <div class="col-12 mt-4"> -->
       <!-- <h3>Menu con ul</h3> -->
       <!-- <hr> -->
       <!-- La clase nav permite crear una lista de navegación y quita los estilos por
      defecto a la lista y pone los items horizontales -->
       <!-- <ul class="nav"> -->
         <!-- La clase nav-item contiene el link de navegación -->
         <!-- <li class="nav-item"> -->
           <!-- La clase nav-link centra el link en el contenedor -->
           <!-- <a href="#" class="nav-link active">Inicio</a> -->
         <!-- </li> -->
         <!-- La clase nav-item contiene el link de navegación -->
         <!-- <li class="nav-item"> -->
           <!-- La clase nav-link centra el link en el contenedor -->
           <!-- <a href="#" class="nav-link">Blog</a> -->
         <!-- </li> -->
         <!-- La clase nav-item contiene el link de navegación -->
         <!-- <li class="nav-item"> -->
           <!-- La clase nav-link centra el link en el contenedor -->
           <!-- <a href="#" class="nav-link disabled">Proximamente</a> -->
         <!-- </li> -->
         <!-- La clase nav-item contiene el link de navegación -->
         <!-- <li class="nav-item"> -->
           <!-- La clase nav-link centra el link en el contenedor -->
           <!-- <a href="#" class="nav-link">Contacto</a> -->
         <!-- </li> -->
       <!-- </ul> -->
    <!-- </div> -->

    <!-- <div class="col-12 mt-4"> -->
       <!-- <h3>Menu con estilos css</h3> -->
       <!-- <hr> -->
       <!-- La clase nav permite crear una lista de navegación y quita los estilos por
      defecto a la lista y pone los items horizontales, además se le agrega un color de
      fondo y un color al texto -->
       <!-- <ul class="nav fm-nav bg-primary text-withe"> -->
         <!-- La clase nav-item contiene el link de navegación -->
         <!-- <li class="nav-item"> -->
           <!-- La clase nav-link centra el link en el contenedor -->
           <!-- <a href="#" class="nav-link active">Inicio</a> -->
         <!-- </li> -->
         <!-- La clase nav-item contiene el link de navegación -->
         <!-- <li class="nav-item"> -->
           <!-- La clase nav-link centra el link en el contenedor -->
           <!-- <a href="#" class="nav-link">Blog</a> -->
         <!-- </li> -->
         <!-- La clase nav-item contiene el link de navegación -->
         <!-- <li class="nav-item"> -->
           <!-- La clase nav-link centra el link en el contenedor -->
           <!-- <a href="#" class="nav-link disabled">Proximamente</a> -->
         <!-- </li> -->
         <!-- La clase nav-item contiene el link de navegación -->
         <!-- <li class="nav-item"> -->
           <!-- La clase nav-link centra el link en el contenedor -->
           <!-- <a href="#" class="nav-link">Contacto</a> -->
         <!-- </li> -->
       <!-- </ul> -->
    <!-- </div> -->

    <!-- <div class="col-12 mt-4"> -->
      <!-- <h3>Menu con Nav</h3> -->
      <!-- <hr> -->
      <!-- La clase nav permite crear una lista de navegación y quita los estilos por
      defecto a la lista y pone los items horizontales. Con la etiqueta nav se pueden
      agregar los links directamente sin un contenedor -->
      <!-- <nav class="nav"> -->
        <!-- La clase nav-link centra el link en el contenedor -->
        <!-- <a href="#" class="nav-link">Inicio</a> -->
        <!-- La clase nav-link centra el link en el contenedor -->
        <!-- <a href="#" class="nav-link">Blog</a> -->
        <!-- La clase nav-link centra el link en el contenedor -->
        <!-- <a href="#" class="nav-link disabled">Proximamente</a> -->
        <!-- La clase nav-link centra el link en el contenedor -->
        <!-- <a href="#" class="nav-link">Contacto</a> -->
      <!-- </nav> -->
    <!-- </div> -->

    <!-- <div class="col-12 mt-4"> -->
      <!-- <h3>Menu Vertical</h3> -->
      <!-- <hr> -->
      <!-- La clase nav permite crear una lista de navegación y quita los estilos por
        defecto a la lista y pone los items horizontales. Con la etiqueta nav se pueden
        agregar los links directamente sin un contenedor. Con la clase flex-column los links
        se agregan verticalmente y no horizontalmente -->
      <!-- <nav class="nav fm-nav bg-dark flex-column"> -->
        <!-- La clase nav-link centra el link en el contenedor -->
        <!-- <a href="#" class="nav-link">Inicio</a> -->
        <!-- La clase nav-link centra el link en el contenedor -->
        <!-- <a href="#" class="nav-link">Blog</a> -->
        <!-- La clase nav-link centra el link en el contenedor -->
        <!-- <a href="#" class="nav-link disabled">Proximamente</a> -->
        <!-- La clase nav-link centra el link en el contenedor -->
        <!-- <a href="#" class="nav-link">Contacto</a> -->
      <!-- </nav> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

<!-- tabs -->
<!-- <div class="container-fluid"> -->
  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- La clase nav-tabs agrega bordes al menú de navegación y agrega un color de fondo
      al item de navegación activo -->
      <!-- <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" class="nav-link active">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link disabled">Proximamente</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Contacto</a>
        </li>
      </ul> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- La clase nav-tabs agrega bordes al menú de navegación y agrega un color de fondo
      azul al item de navegación activo -->
      <!-- <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="" class="nav-link active">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link disabled">Proximamente</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Contacto</a>
        </li>
      </ul> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- La clase nav-fill permite que los items de navegación ocupen el ancho máximo 
      disponible -->
      <!-- <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a href="" class="nav-link active">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link disabled">Proximamente</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Contacto</a>
        </li>
      </ul> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row mt-3">
    <div class="col">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a href="" class="nav-link mr-1 active">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link active ml-1 mr-1">Blog</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link active ml-1 mr-1 disabled">Proximamente</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link active ml-1 mr-1">Contacto</a>
        </li>
      </ul>
    </div>
  </div> -->

  <!-- <div class="row mt-3">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" class="nav-link active">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Categoria 1</a>
            <a href="" class="dropdown-item">Categoria 2</a>
            <a href="" class="dropdown-item">Categoria 3</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link disabled">Proximamente</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Contacto</a>
        </li>
      </ul>
    </div>
  </div> -->

  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- Crea un menú de navegación para mostrar diferentes paneles -->
      <!-- <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#tab1" class="nav-link active" data-toggle="tab">TAB 1</a>
        </li>
        <li class="nav-item">
          <a href="#tab2" class="nav-link" data-toggle="tab">TAB 2</a>
        </li>
        <li class="nav-item">
          <a href="#tab3" class="nav-link" data-toggle="tab">TAB 3</a>
        </li>
      </ul> -->
      <!-- La clase tab-content contiene los paneles a mostrar cuando se presiona un botón
      de los items de navegación -->
      <!-- <div class="tab-content mt-4"> -->
        <!-- La clase tab-pane contiene el panel a mostrar y debe tener un id para que el item
        de navagación apunte a ese item -->
        <!-- <div class="tab-pane active" id="tab1" role="tabpanel">
          <h3>Panel 1</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis iusto aliquid architecto modi nostrum. Perspiciatis quas ullam magnam, maxime in modi pariatur dolorem eligendi repellendus, reiciendis dolorum distinctio corrupti amet hic repudiandae nobis nostrum provident veniam, officiis recusandae assumenda ab placeat dolores autem. Nostrum explicabo error numquam optio odit. Deserunt.</p>
        </div> -->
        <!-- La clase tab-pane contiene el panel a mostrar y debe tener un id para que el item
        de navagación apunte a ese item -->
        <!-- <div class="tab-pane" id="tab2" role="tabpanel">
          <h3>Panel 2</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis iusto aliquid architecto modi nostrum. Perspiciatis quas ullam magnam, maxime in modi pariatur dolorem eligendi repellendus, reiciendis dolorum distinctio corrupti amet hic repudiandae nobis nostrum provident veniam, officiis recusandae assumenda ab placeat dolores autem. Nostrum explicabo error numquam optio odit. Deserunt.</p>
        </div> -->
        <!-- La clase tab-pane contiene el panel a mostrar y debe tener un id para que el item
        de navagación apunte a ese item -->
        <!-- <div class="tab-pane" id="tab3" role="tabpanel">
          <h3>Panel 3</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis iusto aliquid architecto modi nostrum. Perspiciatis quas ullam magnam, maxime in modi pariatur dolorem eligendi repellendus, reiciendis dolorum distinctio corrupti amet hic repudiandae nobis nostrum provident veniam, officiis recusandae assumenda ab placeat dolores autem. Nostrum explicabo error numquam optio odit. Deserunt.</p>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

<!-- Navbars -->
<!-- .navbar-expand-lg Sirve para indicar en que punto aparecera el toggler -->
<!-- .navbar-light Inidicamos que usaremos un fondo claro -->
<!-- .navbar-dark Indicamos que usaremos un fondo oscuro -->
<!-- .bg-light Establecemos un fondo light para el navbar -->
<!-- También podemos darle nuestro propio color con CSS -->

<!-- .fixed-top Nos permite fijar el menu en la parte superior -->
<!-- .fixed-bottom Nos permite fijar el menu en la parte inferior -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a href="" class="navbar-brand">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Menu de navegación">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item active">
          <a href="" class="nav-link">Blog</a>
        </li>
        <li class="nav-item active">
          <a href="" class="nav-link disabled">Proximamente</a>
        </li>
        <li class="nav-item active">
          <a href="" class="nav-link">Contacto</a>
        </li>
      </ul>
      <form action="" class="form-inline my-2 my-lg-0">
        <input type="text" class="form-control mr-sm-2" placeholder="Buscar" aria-label="Buscar">
        <button type="submit" class="btn btn-success my-sm-0">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a href="" class="navbar-brand">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Menu de navegación">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item active">
          <a href="" class="nav-link">Blog</a>
        </li>
        <li class="nav-item active">
          <a href="" class="nav-link disabled">Proximamente</a>
        </li>
        <li class="nav-item active">
          <a href="" class="nav-link">Contacto</a>
        </li>
      </ul>
      <form action="" class="form-inline my-2 my-lg-0">
        <input type="text" class="form-control mr-sm-2" placeholder="Buscar" aria-label="Buscar">
        <button type="submit" class="btn btn-success my-sm-0">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a href="" class="navbar-brand">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Menu de navegación">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item active">
          <a href="" class="nav-link">Blog</a>
        </li>
        <li class="nav-item active">
          <a href="" class="nav-link disabled">Proximamente</a>
        </li>
        <li class="nav-item active">
          <a href="" class="nav-link">Contacto</a>
        </li>
      </ul>
      <form action="" class="form-inline my-2 my-lg-0">
        <input type="text" class="form-control mr-sm-2" placeholder="Buscar" aria-label="Buscar">
        <button type="submit" class="btn btn-success my-sm-0">Buscar</button>
      </form>
    </div>
  </div>
</nav> -->

<!-- <div class="container-fluid">
  <div class="row mt-3">
    <div class="col">
      <div class="jumbotron">
        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, ex!</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus dolor ipsam consequuntur corrupti quia, placeat labore libero temporibus. Vero possimus, dicta, rem odit quisquam labore recusandae, omnis quibusdam fugit cum sapiente et. Repudiandae voluptatem illo commodi adipisci sequi consequatur facere neque voluptate. Eius, animi. Minus omnis eaque maxime vero reprehenderit.</p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 1000px;">
    <div class="col">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas esse eaque iure sint nam quae, ipsum sunt repudiandae laborum eos, sequi magni autem alias molestiae voluptatibus debitis corporis! Reprehenderit atque praesentium quasi rerum dignissimos molestias doloremque illum ipsa veritatis soluta? Blanditiis animi iure harum. Architecto voluptate sed pariatur consequatur ea beatae, placeat dolorem delectus quae quidem alias molestiae suscipit sequi iure commodi quibusdam odit, rerum qui ab possimus. Veniam aperiam, iure dolor dolores saepe possimus enim sint facilis ex vero.</p>
    </div>
  </div>
</div> -->


<!-- Pagination -->
<!-- <div class="container-fluid"> -->
  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- La paginación se debe poner dentro de un elemento nav -->
      <!-- <nav> -->
        <!-- La clase pagination permite agrupar la lista de izquierda a derecha y
        desactivando los estilos por defecto de la lista -->
        <!-- <ul class="pagination"> -->
          <!-- Al elemento li de la lista se le agrega la clase page-item -->
          <!-- <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&laquo; Anterior</span>
          </li> -->
           <!-- La clase page-item agrega fondo y borde al item de paginación y centra
          el elemento respecto a los otros items de paginación -->
          <!-- <li class="page-item page-link active"><a href="#">1</a></li>
          <li class="page-item page-link"><a href="#">2</a></li>
          <li class="page-item page-link"><a href="#">3</a></li>
          <li class="page-item page-link"><a href="#">4</a></li>
          <li class="page-item">
            <a href="#" class="page-link">
              <span aria-hidden="true">Siguiente &raquo;</span>
            </a>
          </li> -->
        <!-- </ul> -->
      <!-- </nav> -->
      <!-- La paginación se debe poner dentro de un elemento nav -->
      <!-- <nav> -->
        <!-- La clase pagination permite agrupar la lista de izquierda a derecha y
        desactivando los estilos por defecto de la lista. La clase pagination-lg
        permite obtener una paginación más grande -->
        <!-- <ul class="pagination pagination-lg"> -->
          <!-- Al elemento li de la lista se le agrega la clase page-item -->
          <!-- <li class="page-item disabled">
            <span class="" aria-hidden="true">&laquo; Anterior</span>
          </li> -->
          <!-- La clase page-item agrega fondo y borde al item de paginación y centra
          el elemento respecto a los otros items de paginación -->
          <!-- <li class="page-item page-link active"><a href="#">1</a></li>
          <li class="page-item page-link"><a href="#">2</a></li>
          <li class="page-item page-link"><a href="#">3</a></li>
          <li class="page-item page-link"><a href="#">4</a></li>
          <li class="page-item">
            <a href="#" class="page-link">
              <span aria-hidden="true">Siguiente &raquo;</span>
            </a>
          </li> -->
        <!-- </ul> -->
      <!-- </nav> -->
      <!-- La paginación se debe poner dentro de un elemento nav -->
      <!-- <nav> -->
        <!-- La clase pagination permite agrupar la lista de izquierda a derecha y
        desactivando los estilos por defecto de la lista. La clase pagination-sm
        permite obtener una paginación más pequeña -->
        <!-- <ul class="pagination pagination-sm"> -->
          <!-- Al elemento li de la lista se le agrega la clase page-item -->
          <!-- <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&laquo; Anterior</span>
          </li> -->
          <!-- La clase page-item agrega fondo y borde al item de paginación y centra
          el elemento respecto a los otros items de paginación -->
          <!-- <li class="page-item page-link active"><a href="#">1</a></li>
          <li class="page-item page-link"><a href="#">2</a></li>
          <li class="page-item page-link"><a href="#">3</a></li>
          <li class="page-item page-link"><a href="#">4</a></li>
          <li class="page-item">
            <a href="#" class="page-link">
              <span aria-hidden="true">Siguiente &raquo;</span>
            </a>
          </li> -->
        <!-- </ul> -->
      <!-- </nav> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- <nav> -->
        <!-- La clase justify-content-start deja la paginación a la izquierda
        de la página -->
        <!-- <ul class="pagination d-flex justify-content-start">
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&laquo; Anterior</span>
          </li>
          <li class="page-item page-link active"><a href="#">1</a></li>
          <li class="page-item page-link"><a href="#">2</a></li>
          <li class="page-item page-link"><a href="#">3</a></li>
          <li class="page-item page-link"><a href="#">4</a></li>
          <li class="page-item">
            <a href="#" class="page-link">
              <span aria-hidden="true">Siguiente &raquo;</span>
            </a>
          </li>
        </ul> -->
      <!-- </nav> -->

      <!-- <nav> -->
        <!-- La clase justify-content-center deja la paginación centrada -->
        <!-- <ul class="pagination d-flex justify-content-center">
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&laquo; Anterior</span>
          </li>
          <li class="page-item page-link active"><a href="#">1</a></li>
          <li class="page-item page-link"><a href="#">2</a></li>
          <li class="page-item page-link"><a href="#">3</a></li>
          <li class="page-item page-link"><a href="#">4</a></li>
          <li class="page-item">
            <a href="#" class="page-link">
              <span aria-hidden="true">Siguiente &raquo;</span>
            </a>
          </li>
        </ul> -->
      <!-- </nav> -->

      <!-- <nav> -->
        <!-- La clase justify-content-end deja la paginación a la derecha
        de la página -->
        <!-- <ul class="pagination d-flex justify-content-end">
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&laquo; Anterior</span>
          </li>
          <li class="page-item page-link active"><a href="#">1</a></li>
          <li class="page-item page-link"><a href="#">2</a></li>
          <li class="page-item page-link"><a href="#">3</a></li>
          <li class="page-item page-link"><a href="#">4</a></li>
          <li class="page-item">
            <a href="#" class="page-link">
              <span aria-hidden="true">Siguiente &raquo;</span>
            </a>
          </li>
        </ul> -->
      <!-- </nav> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

<!-- Popovers -->
<!-- <div class="container"> -->
  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- <h2>Popovers</h2> -->
      <!-- <hr> -->
      <!-- El atributo data-placement indica hacia donde aparece el popover -->
      <!-- <button class="btn btn-info" data-container="body" data-placement="bottom" data-toggle="popover" title="Título del popover" data-content="Lorem ipsum dolor sit amet consectetur adipisicing elit. A, enim.">Arriba</button> -->
    <!-- </div> -->
    <!-- <div class="col-12">
      <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
    </div> -->
  <!-- </div> -->
<!-- </div> -->

<!-- progress bars -->
<!-- <div class="container"> -->
  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- <h3>Barras de progreso</h3> -->
      <!-- <hr> -->
      <!-- La clase progress asigna un color de fondo al progress bar con bordes redondos -->
      <!-- <div class="progress mb-3" style="height: 25px;"> -->
        <!-- La clase progress-bar asigna un color de fondo a la barra de progreso y
        permite ajustar el ancho del progreso. Además centra el texto de porcentaje en 
        la barra -->
        <!-- <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div> -->
      <!-- </div> -->
      <!-- <div class="progress mb-3" style="height: 10px;">
        <div class="progress-bar" role="progressbar" style="width: 50%;">50%</div>
      </div>
      <div class="progress mb-3" style="height: 50px;">
        <div class="progress-bar" role="progressbar" style="width: 100%;">100%</div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- <h3>Barras de progreso</h3> -->
      <!-- <hr> -->
      <!-- <div class="progress mb-3" style="height: 30px;"> -->
        <!-- Bg asigna un color de fondo a la barra de progreso -->
        <!-- <div class="progress-bar bg-primary" role="progressbar" style="width: 50%;">50%</div> -->
      <!-- </div> -->
      <!-- <div class="progress mb-3" style="height: 30px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: 50%;">50%</div>
      </div>
      <div class="progress mb-3" style="height: 30px;">
        <div class="progress-bar bg-info" role="progressbar" style="width: 50%;">50%</div>
      </div>
      <div class="progress mb-3" style="height: 30px;">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;">50%</div>
      </div>
      <div class="progress mb-3" style="height: 30px;">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 50%;">50%</div>
      </div>
      <div class="progress mb-3" style="height: 30px;">
        <div class="progress-bar bg-dark" role="progressbar" style="width: 50%;">50%</div>
      </div>
      <div class="progress mb-3" style="height: 30px;">
        <div class="progress-bar bg-light" role="progressbar" style="width: 50%; color: #000;">50%</div>
      </div> -->
    <!-- </div> -->

    <!-- <div class="col"> -->
      <!-- <h3>Barras de progreso</h3> -->
      <!-- <hr> -->
      <!-- <div class="progress mb-3" style="height: 30px;"> -->
        <!-- La clase progress-bar-striped asigna estilos al progreso -->
        <!-- <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 50%;">50%</div> -->
      <!-- </div>
      <div class="progress mb-3" style="height: 30px;">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%;">50%</div>
      </div>
      <div class="progress mb-3" style="height: 30px;">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%;">50%</div>
      </div>
      <div class="progress mb-3" style="height: 30px;">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 50%;">50%</div>
      </div>
      <div class="progress mb-3" style="height: 30px;">
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 50%;">50%</div>
      </div>
      <div class="progress mb-3" style="height: 30px;">
        <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 50%;">50%</div>
      </div>
      <div class="progress mb-3" style="height: 30px;">
        <div class="progress-bar progress-bar-striped bg-light" role="progressbar" style="width: 50%; color: #000;">50%</div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

<!-- scrollspy -->
<!-- <div class="container-fluid"> -->
  <!-- <div class="row mt-3"> -->
    <!-- <div class="col"> -->
      <!-- Id al que apuntará el body para crear el scrollpy -->
      <!-- <div id="fm-nav"> -->
        <!-- Crea un nav para las secciones en la página con scrollspy -->
        <!-- <ul class="fm-nav nav fixed-top navbar-inverse bg-primary"> -->
          <!-- <li class="nav-item"> -->
            <!-- Cada link debe apuntar al elemento con el id -->
            <!-- <a href="#seccion1" class="nav-link">Sección #1</a> -->
          <!-- </li>
          <li class="nav-item">
            <a href="#seccion2" class="nav-link">Sección #2</a>
          </li>
          <li class="nav-item">
            <a href="#seccion3" class="nav-link">Sección #3</a>
          </li> -->
        <!-- </ul> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
  <!-- Secciones a mostrar en el scrollspy, cada seccion debe tener un id para que
  los links en el nav apunten a ellos -->
  <!-- <div class="row section mt-3" id="seccion1">
    <div class="col-12 column">
      <h2>Sección 1</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio rem pariatur similique eligendi harum ea omnis quo! Enim similique modi dignissimos in labore voluptatum autem accusamus officia amet maiores non maxime consectetur distinctio a neque hic rerum, illum repudiandae error et optio tempore soluta? Minima ipsum a voluptatem odio cupiditate.</p>
    </div>
  </div>
  <div class="row section mt-3" id="seccion2">
    <div class="col-12 column">
      <h2>Sección 2</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio rem pariatur similique eligendi harum ea omnis quo! Enim similique modi dignissimos in labore voluptatum autem accusamus officia amet maiores non maxime consectetur distinctio a neque hic rerum, illum repudiandae error et optio tempore soluta? Minima ipsum a voluptatem odio cupiditate.</p>
    </div>
  </div>
  <div class="row section mt-3" id="seccion3">
    <div class="col-12 column">
      <h2>Sección 3</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio rem pariatur similique eligendi harum ea omnis quo! Enim similique modi dignissimos in labore voluptatum autem accusamus officia amet maiores non maxime consectetur distinctio a neque hic rerum, illum repudiandae error et optio tempore soluta? Minima ipsum a voluptatem odio cupiditate.</p>
    </div>
  </div> -->
<!-- </div> -->

<!-- tooltips -->
<!-- <div class="container-fluid">
  <div class="row mt-3">
    <div class="col">
      <p>Lorem ipsum <a href="" data-toggle="tooltip" data-placement="top" title="tooltip en enlace">dolor sit amet</a> consectetur adipisicing elit. Odit sapiente, consequatur nisi mollitia inventore corrupti ab, error facilis illum laboriosam fugit non quaerat. Aperiam, obcaecati ullam! <a href="">Blanditiis assumenda autem</a>  fugiat unde, eius ratione libero doloremque nulla architecto veniam sed accusamus maxime ducimus tempora et iste dolores deleniti ea! Recusandae, sed.</p>
    </div>
  </div>
</div> -->